# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Logs and data
logs/
*.log
*.csv
*.npz

# Model files
models/

# Plot files
*.png
plots/

# Jupyter Notebook
.ipynb_checkpoints 